<h1>User info</h1>
<% if @user.errors.any? %>
  <div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li>error</li>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model:@user, local:true do |f| %>
 <diV>
  <h4>name</h4><%= f.text_field :name %>
 </diV>
<div>
 <%= f.attachment_field :profile_image %>
</div>

 <diV>
  <h4>introduction</h4><%= f.text_area :introduction %>
 </diV>




  <%= f.submit 'Update User' %>
<% end %>